<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Anime Road Runner"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Required for Flutter GPU / flutter_scene -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableFlutterGPU"
            android:value="true" />

        <!-- Explicitly enable Impeller -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="true" />

        <!-- DIAGNOSTIC: the engine now boots successfully (shader library
             initializes without error) but nothing from the 3D scene draws;
             only the separate 2D sky/cloud layer and HUD are visible. That
             pattern (init succeeds, draw is silently a no-op) is a known
             category of Vulkan/Impeller driver issue on some Android GPUs. This forces OpenGLES instead of the default Vulkan
             selection, to test whether that is what is happening here. If
             the 3D content still does not appear with this set, the backend
             is not the cause and this tag should be removed again. -->
        <meta-data
            android:name="io.flutter.embedding.android.ImpellerBackend"
            android:value="opengles" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate
             GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>